@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <h1 class="display-4">Dobrodošli u SkladišteRobe</h1>
    <p class="lead">Moderno i minimalističko rješenje za upravljanje skladištem.</p>
    <!-- A simple button to navigate to Skladište -->
    <a href="@Url.Action("Index", "Skladiste")" class="btn btn-custom mt-4">Pogledaj Skladište</a>
</div>